
header{
    width: 100%;
    background-color: #EBEFF6;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    padding-top: 2rem;
}

.menu{
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
    /* justify-content: center; */
}
.botonsMen {
    font-size: 1.2rem;
    text-decoration: none;
    color: #1A2434;
    /* background-color: lightblue; */
    margin-right: 3rem;
}

.logo{
    display: flex;
    /* margin-left: 5rem; */
}
.logo img{
    height: 2.5rem;
}

a:hover{
    color: #6c727a;
    /* transition: 2s;s */
}

/* SEARCH */
.cajaBuscador{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.bagIcon{
    width: 2rem;
    height: 2rem;
}

.buscador{
    width: 14rem;
    height: 3rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    color: #6c727a;
    padding-left: 1rem;

    display: flex;
    align-items: center;
}

.search{
    font-size: 1.2rem;
}
