
.sec2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cuad-1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.whyChoose{
    margin-bottom: 0.5rem;

    font-size: 1rem;
    color: #1A2434;
    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.bestLearning{
    font-weight: 550;
    color: #1A2434;
}

.padreCuadros{
    margin-top: 5rem;

    display: flex;
    flex-direction: row;
}

.iconSec2{
    width: 4rem;
    height: 4rem;
}

.titCuad{
    padding-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #1a2434;
}

.parraCuad{
    font-size: 1rem;
    font-weight: 250;
    padding-top: 2rem;
}

.padreLearnMore{
    padding-top: 2rem;  
    font-size: 1rem;
    gap: 1rem;
    color: rgba(0, 0, 0, 0.705);
    font-weight: 700;

    display: flex;
    align-items: center;
}